.info-main {
  background: var(--bg-color);
  color: #fff;
  padding: 100px 0px;
  margin: 75px 0px;
  .info-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 60px;
      font-weight: 700;
    }
    h4 {
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}
